In [1]:
import pandas as pd
import numpy as np

In [2]:
# 2024년 11월 15월 학습조직 3주차
# 참석 : 6명

In [14]:
# 주석 처리 방법
# 1. 행으로 하는 방법 : 최좌측에 '#' 처리 (단축키 : ctl + '/')
# 2. 여러행 한번에 입력 :  """ 여기에 코트 입력 """ (단축키 : 주석할 대상 잡고 ctl + '/')
""""
3주차 학습조직을 시작합니다.
감사합니다.
여기는 주석입니다.
"""

# 화면에서 출력 하는 방법 # print
print('3주차 교육 입니다.')

3주차 교육 입니다.

In [15]:
# 데이터 타입
# 1. 문자형 : '' 붙인다.
a = '최강석'
# 2. 수치형 : '' 없이 바로 숫자를 붙인다.
b = 10

In [16]:
# 1. 배열 (매우 중요)
# 기본 구조 list = []
student = [] # 초기화 및 배열 선언

student.append('최강석')
student.append('임도한')
student.append('박기태')

student

# 데이터 삭제하는 방법 student.remove('최강석')

['최강석', '임도한', '박기태']

In [17]:
# 2. 튜플 (배열과 비슷하나, 수정이 안된다)
# 기본 구조 tuple = ()

# 3. 딕셔너리 (매우 중요)
# 기본 구조 dic = {}
dic = {} # 초기화 및 선언
dic['최강석'] = 45
dic['홍길동'] = 46
dic['임꺽정'] = 47
dic

{'최강석': 45, '홍길동': 46, '임꺽정': 47}

In [12]:
# 반복문
# 주의사항
# 1. for문 마지막에 : 누락 안되도록 주의
# 2. for문 안에서 들여쓰기(tab) 규칙 지킬 것

# 사례1 : 숫자 돌릴때 (0에서 99 까지)
for i in range (0,100,1) :
    print(i)

# 사례2: 1에서 100까지 숫자를 더할 것
sum_1_100 = 0 # 초기화
for i in range (1,1001,1) :
    sum_1_100 = sum_1_100 + i
sum_1_100 # 1부터 100까지 더합 값

# 사례 3 : 배열의 값을 for문으로 
names = ['임도한','최강석','박기태','윤재훈','이병준','김문수'] # 6명을 names라는 배열(리스트)에  담는다

# for문으로 한명씩 호출 한다.
for name in names :
    print(name)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
임도한
최강석
박기태
윤재훈
이병준
김문수

In [13]:
# 조건문
# 주의사항
# 1. if문 마지막에 : 누락 안되도록 주의 (elif, else 도 주의)
# 2. if문 안에서 들여쓰기(tab) 규칙 지킬 것

for name in names : # 반복문 
    
    if name == '임도한' : # 조건문
        
        print(name,'반가워요')
        
    elif name == '최강석' :
        
        print(name,'싫어요')
    
    else :
        print(name,'감사해요')

임도한 반가워요
최강석 싫어요
박기태 감사해요
윤재훈 감사해요
이병준 감사해요
김문수 감사해요